
@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .profile-picture {
        width: 100px; /* smaller width */
        height: 50px; /* explicit height to ensure the image is rectangular */
        object-fit: cover; /* to maintain the aspect ratio without distortion */
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 0; /* to ensure the image is rectangular */
    
        /* If '.profile-picture' is within a 'p' element */
        p & {
            padding: 0;
            margin: 0;
        }
    
        /* Adjusted media query */
        @media (max-width: $small-width) { /* make sure $small-width is defined somewhere in your SCSS */
            width: 50px; /* even smaller size for smaller screens */
            height: auto; /* maintains the aspect ratio */
            margin-top: -5px;
        }
    }
    
    
        /* Adjusted media query */
        @media (max-width: $small-width) { /* make sure $small-width is defined somewhere in your SCSS */
            margin-top: -5px; /* moved from 'img' to here assuming '.profile-picture' is the 'img' */
        }
    }
    
    
    
    img {
        text-align: center;
        width: 100%;
    }
}
